@page
@model IndexModel
@{
    ViewData["Title"] = "Configurations Demo";
}
<h1 class="display-4">Choose a demo page:</h1>

<div class="container">


    <p>
        <a asp-page="/ParameterStore">Systems Manager Parameter Store Demo</a>
    </p>


    <p>
        <a asp-page="/SecretsManager">AWS Secrets Manager Demo</a>
    </p>



</div>
