@page
@model ParameterStoreModel
@{
    ViewData["Title"] = "SSM Data";
}

<div class="text-center">
    <h1 class="display-4">Systems Manager Parameters</h1>
  
    These are the current values of the SSM Parameters stored for this application.

       <table>
           <thead>
               <tr>
                   <th>Parameter</th>
                   <th>Value</th>
               </tr>
           </thead>
           <tbody>
            @foreach(var i in Model.SsmData)
            {
                <tr>
                    <td>@i.Key</td>
                    <td>@i.Value</td>
                </tr>                
            }
        </tbody>
       </table>
</div>
