@page
@model ParameterStoreModel
@{
    ViewData["Title"] = "SSM Data";
}

<h1 class="display-4">Systems Manager Parameters Store Test</h1>

<p>These are the current values of the SSM Parameters stored for this application:</p>

<p>Parameters will be loaded after  <strong>@Model.DemoConfig.SsmTimeToLive</strong> seconds.</p>

<p>Therefore all parameter subject to a TTL will be reloaded after that time period.</p>

<div class="text-center">

  <div class="container">

       <table class="table">
           <thead>
               <tr>
                   <th scope="col">Parameter</th>
                   <th scope="col">Value</th>
               </tr>
           </thead>
           <tbody>
            @foreach(var i in Model.SsmData)
            {
                <tr>
                    <td>@i.Key</td>
                    <td>@i.Value</td>
                </tr>                
            }
        </tbody>
       </table>
</div>
</div>

