@page
@model SecretsManagerModel
@{
    ViewData["Title"] = "Secrets Manager";
}

<div class="text-center">
    <h1 class="display-4">Secrets Manager</h1>

    The following are secrets manager values included in the application.
    There is a cache expiry of @Model.DemoConfig.SecretsCacheExpiry milliseconds.
    Therefore, if you change a value in Secrets Manager, it will take that long to refresh.

    <table>
        <thead>
            <tr>
                <th>Secret</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>Launch Code</td>
                    <td>@Model.LaunchCode</td>
                </tr>

            <tr>

            <tr>
                <td>Secret Plan Location</td>
                <td>@Model.SecretPlanLocation</td>
            </tr>
        </tbody>
    </table>



