@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  
       <table>
           <thead>
               <tr>
                   <th>Parameter</th>
                   <th>Value</th>
               </tr>
           </thead>
           <tbody>
            @foreach(var i in Model.SsmData)
            {
                <tr>
                    <td>@i.Key</td>
                    <td>@i.Value</td>
                </tr>                
            }
            <tr>
                <td>Secret Value</td>
                <td>@Model.SecretValue</td>
            </tr>

        </tbody>
       </table>




</div>
